.navbar-brand {
  font-family: 'Peralta', cursive;
}


.btn-patient:hover,
.btn-patient:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-patient {
  color: #fff;
  background-color: #91afb6;
  border-color: #91afb6;
}


.btn-doctor {
  color: #fff;
  background-color: #8980a5;
  border-color: #8980a5;
}

.btn-doctor:hover,
.btn-doctor:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}
